<div class="row">
  <div class="col">
    <%= form_with(model: shop, id: "#{dom_id(shop)}_form") do |form| %>
      <%= render "shops/errors" %>

      <div class="form-group d-flex">
      <div>
        <%#= form.label :item, style: "display: block" %>
        <%= form.text_field :item, class: "form-control", placeholder: "Add item" %>
      </div>


      <div>
        <%= form.submit class: "btn btn-success" %>
      </div>
      </div>
    <% end %>

  </div>
</div>