<p style="color: green"><%= notice %></p>

<div class="row">
  <p style="color: green"><%#= notice %></p>
  <div class="mx-auto">
    <h1>Shopping List</h1>
    <%= render 'form', shop: Shop.new %>
    <div id="shops">
      <%= render @shops %>
    </div>
  </div>
</div>
